@charset "UTF-8";

#containeir {
  width: 980px;
}
#containeir img#icone {
  position: absolute;
  left: 776px;
  top: 70px;
}

nav#menu ul {
  left: 764px;
}

#interface {
  width: 950px;
}
section#conteudo {
  width: 1000px;
  margin: auto;
}
iframe#frame-spec {
  width: 430px;
  height: 280px;
  border: none;
  overflow: hidden;
}

iframe#frame-spec::-webkit-scrollbar {
  display: none;
}